body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-image: linear-gradient(to right, #4c84ff, #36d1dc);
}

section {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #337ab7;
}

a:hover {
    color: #23527c;
}

form {
    max-width:500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

button {
    width: 100%;
    padding: 10px;
}